<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mverp.mybatis.domain.mapper.ComboboxMapper">
    <resultMap id="DepartComboboxResultMap" type="com.mverp.mybatis.domain.dao.Combobox">
        <id  column="id" property="key" jdbcType="VARCHAR" />
        <result column="부서명" property="value" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="DepartCombobox_Column_List">
        id, 부서명
    </sql>
    <select id="selectDepartNameList" resultMap="DepartComboboxResultMap">
        select
        <include refid="DepartCombobox_Column_List" />
        from mverp_dev.department order by sortstring
    </select>

</mapper>